<%- include('./partials_user/header.ejs', { title: 'Appointment Details' }) %>

<div id="appointment-detail" data-id="<%= appointmentId %>">
    <div class="card loading">
        <p><div class="loader"></div></p>
    </div>
</div>

<script src="/js/user/appointments-detail.js"></script>
<%- include('./partials_user/footer.ejs') %>