<%- include('./partials_user/header.ejs', { title: 'My Appointments' }) %>

<h1>My Appointments</h1>
<div class="search-filter">
        <input type="text" id="search-input" placeholder="Search by date or time or status..." onInput="handleSearch(this.value)">
    </div>
<div id="appointments-container">
  Loading...
</div>
<div id="pagination-container">
  loading...
</div>

<script src="/js/user/appointments.js"></script>
<%- include('./partials_user/footer.ejs') %>