<%- include('./partials_user/header.ejs', { title: 'Book Appointment' }) %>

<h1>Book an Appointment</h1>
<div id="booking-form-container">
  Loading...
</div>

<script src="/js/user/book_appointment.js"></script>
<%- include('./partials_user/footer.ejs') %>