<%- include('./partials_user/header.ejs', { title: 'Profile' }) %>
<h2>User Profile</h2>

<div id="card">
    <div class="loader"></div>
</div>

<script src="/js/user/profile.js"></script>
<%- include('./partials_user/footer.ejs') %>